.main {
  border-style: solid;
  color:black;
  width: 300px;

}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
.sam {
  color:white;
  width:100px;
  margin: auto;
}
.sam1 {
  color:white;
  width:100px;
  margin: auto;
}
.sam2 {
  color:white;
  width:100px;
  margin: auto;
}
