.main {
  border-style: solid;
  color:red;
  width: 270px;
  display: inline-block;
  width: 200px;
  height: 350px;
  margin: 1em;

}
h2 {
  text-align: center;
}
p {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
img{
  align-self: center;
  position: relative;
  width: 70px;
  margin:1em;
  }
.sam {
  color:blue;
  width:100px;
  height:150px;
  margin: 0.3em auto;
  border-style: solid;
  //border-spacing:centre;
}
.skill{
  display: flex;
  flex-flow: row wrap;
}

div {
  border-style: solid;
}
